body {
  margin: 80px;
}

p {
  text-align: justify;
}

code, pre {
  font-size: 14px;
}

pre {
  margin-left: 60px;
}

span.bash {
  font-weight: bold;
  color: green;
}

span.jshell {
  font-weight: bold;
  color: steelblue;
  background: aliceblue;
}

span.echo {
  color: gray;
  background: #F8F8F8;
}

span.output {
  color: #000030;
}
